<table style="border:1px dotted #194C7F" width="100%" border="0" cellspacing="0" cellpadding="3">
    <tr>
        <td colspan="2" align="center"><br /><strong>Please enter your primary username and password.</strong></td>
    </tr>

    <tr>
        <td width="50%" align="right"><strong><span style="color:#FF0000">*</span>Email: </strong></td>
        <td width="50%" align="left"><input ng-model="inputEmail" type="text" size="20"/></td>
    </tr>
    <tr>
        <td align="right"><strong>Reset Password: </strong></td>
        <td align="left"><input ng-model="resetPassword" type="password" size="20" value=""/></td>
    </tr>
    <tr>
        <td align="right"><strong>Confirm Password: </strong></td>
        <td align="left"><input ng-model="confirmPassword" type="password" size="20"/></td>
    </tr>
    <tr ng-show="isNotify">
        <td colspan="2" align="center"><font id="notify" color="red">...</font></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><br /><input ng-click="submitChangePass()" type="button" value="Submit" /></td>
    </tr>
</table>