<!doctype html>
<head>

    <title>Admin Products</title>

    <!-- Header assets -->

    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="adminstyle.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/ectadmin.js"></script>

    <!--AngularJs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script data-require="ui-router@*" data-semver="0.2.8" src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="controller.js"></script>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body ng-app="ProductAdmin" ng-controller="MainController">

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyB7hpNZf2Eaj7Pzw4xw0p7HUyapNf9tKTU",
        authDomain: "e-commerce-ac2f2.firebaseapp.com",
        databaseURL: "https://e-commerce-ac2f2.firebaseio.com",
        storageBucket: "e-commerce-ac2f2.appspot.com",
    };
    firebase.initializeApp(config);
</script>



<!-- Header section -->

<div id="main_header" ng-show="isShow">
    <div id="header1">
        <div class="inner_half"><p class="viewstore"><a class="topbar" href="https://e-commerce-ac2f2.firebaseapp.com/" target="_blank">view your store</a></p>
        </div>
        <div class="inner_half aright last" >
            <p><a class="topbar change-pass" href="" ui-sref="changepass">change-pass</a> <a class="topbar log-out" href="" ng-click="logout()">log-out</a></p>
        </div>
    </div>
    <div id="header">
        <div class="logotop"><a ui-sref="main"><img src="adminimages/logo.png" alt="Ecommerce Templates"/></a></div>
    </div>

    <!-- Left menus -->

    <div id="admin_menu">
        <div class='menu-button'>Menu</div>
        <nav>
            <ul id="nav" role="navigation">
                <li class="top-level"><a ui-sref="main" href="">Product Admin</a>
            </ul>
        </nav>
    </div>
</div>



<!-- main content -->
<div ui-view="content" autoscroll="true"></div>

</body>
</html>
