<div class="row centerit">
    <div class="login_form round_all">
        <div class="login_header"></div>

        <table>
            <tr>
                <td width="30%" align="right"><strong>Email: </strong></td>
                <td align="left"><input ng-model="email" type="text" size="20" /></td>
            </tr>
            <tr>
                <td align="right"><strong>Password: </strong></td>
                <td align="left"><input ng-model="password" type="password" size="20" autocomplete="off" /></td>
            </tr>
        </table>
        <div ng-hide="isCorrect">
            <font  color="red">Tài khoản hoặc mật khẩu không đúng</font>
            <div><p></p></div>
        </div>
        <p><input ng-click="submitLogin()" type="button" value="Submit"></p>
    </div>
</div>