<div id="main">

    <form name="mainform">
        <table id="producttable" width="100%" border="" cellspacing="0" cellpadding="3">
            <tr>
                <td width="100%" colspan="4" align="center"><strong>Use this page to update your store
                    products.</strong><br/>&nbsp;</td>
            </tr>
            <tr>
                <td align="right"></span>Prod ID:</td>
                <td><input id="id" type="text" size="10" placeholder="ID"/></td>
            </tr>
            <tr>
                <td align="right"></span>Prod Name:</td>
                <td><input id="name" type="text" size="40" placeholder="Name"/>
                </td>
                <td align="right">Availability:</td>
                <td>
                    <select id="availability">
                        <option value="còn hàng">In stock</option>
                        <option value="hết hàng">Out of stock</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td align="right" style="white-space:nowrap">Price</td>
                <td style="white-space:nowrap"><input id="price" type="number" size="10" value=""
                                                      placeholder="Price"/> đ
                </td>
                <td align="right"></span>Category:</td>
                <td><select id="category">
                    <option value="mobile">Mobile</option>
                    <option value="tablet">Tablet</option>
                    <option value="laptop">Laptop</option>
                </select></td>
            </tr>
            <tr>
                <td align="right">Product Weight:</td>
                <td><input id="weight" type="text" size="9" value="" placeholder="Weight"/> g</td>
                <td align="right">Brand:</td>
                <td><select id="brand">
                    <option value="apple">Apple</option>
                    <option value="samsung">Samsung</option>
                    <option value="htc">HTC</option>
                    <option value="sony">Sony</option>
                    <option value="oppo">Oppo</option>
                    <option value="asus">Asus</option>
                    <option value="hp">HP</option>
                    <option value="dell">Dell</option>
                    <option value="lenovo">Lenovo</option>
                </select>
                </td>
            </tr>
            <tr>
                <td align="right">Star:</td>
                <td>
                    <input id="star" type="text" size="4"/>
                </td>
            </tr>
            <tr>
                <td align="right">Sale:</td>
                <td>
                    <input id="sale" type="text" size="4"/> %
                </td>
            </tr>
            <tr>
                <td align="right"><span style="color:#BB0000">Thumbnail Image</span>:</td>
                <td style="white-space:nowrap">
                    <input id="thumb_1" type="file" value="..."/>
                </td>
            </tr>
            <tr>
                <td align="right"></td>
                <td style="white-space:nowrap">
                    <input id="thumb_2" type="file" value="..."/>
                </td>
            </tr>
            <tr>
                <td align="right"><span style="color:#00BB00">Large Image</span>:</td>
                <td style="white-space:nowrap">
                    <input id="large_1" type="file" value="..."/>
                </td>
            </tr>
            <tr>
                <td align="right"></td>
                <td style="white-space:nowrap">
                    <input id="large_2" type="file" value="..."/>
                </td>
            </tr>
            <tr>
                <td align="right"></td>
                <td style="white-space:nowrap">
                    <input id="large_3" type="file" value="..."/>
                </td>
            </tr>
            <tr>
                <td align="right"></td>
                <td style="white-space:nowrap">
                    <input id="large_4" type="file" value="..."/>
                </td>
            </tr>
            <tr>
                <td align="right">Dimension:</td>
                <td>
                    <input id="dimension_1" type="text" size="4"/> x
                    <input id="dimension_2" type="text" size="4"/> x
                    <input id="dimension_3" type="text" size="4"/> mm
                </td>
            </tr>
            <tr>
                <td align="right">Color:</td>
                <td>
                    <input ng-repeat="color in colors track by $index" ng-model="colors[$index]" type="text" size="8"/>
                    <input ng-click="addColor()" type="button" value="+"/>
                    <input ng-click="removeColor()" type="button" value="x"/>
                </td>
            </tr>
            <tr>
                <td align="right">Size:</td>
                <td>
                    <input ng-repeat="size in sizes track by $index" ng-model="sizes[$index]" type="text" size="4"/>
                    <input ng-click="addSize()" type="button" value="+"/>
                    <input ng-click="removeSize()" type="button" value="x"/>
                </td>
            </tr>
            <tr>
                <td align="right">
                    Overview:
                </td>
                <td colspan="2">
                    <textarea id="overview" cols="120" rows="8" placeholder="Product Overview"></textarea>

                </td>
            </tr>
            <tr>
                <td align="right">
                    Description:
                </td>
                <td colspan="2">
                    <textarea id="description" cols="120" rows="8" placeholder="Product Description"></textarea>
                </td>
            </tr>
        </table>
        <table width="100%" border="" cellspacing="0" cellpadding="3">
            <tr>
                <td  width="100%" colspan="4" align="center" ng-hide="isProcess">&nbsp;
                    <font id="processing" color="red">đang xử lý...</font>
                </td>
            </tr>
            <tr>
                <td width="100%" colspan="4" align="center">&nbsp;<br/>
                    <input ng-click="submitProduct()" type="button" value="Submit"/>&nbsp;&nbsp;<input ng-click="reload()" type="button" value="Reset"/>
                </td>
            </tr>
        </table>
    </form>

</div>