<div id="main">

    <h2>Product Administration</h2>
    <table border="" cellspacing="0" cellpadding="0" width="100%" align="center">

        <tr>
            <td width="100%">
                <form name="mainform" method="post" action="adminprods.asp">
                    <table class="cobtbl" width="100%" border="" cellspacing="1" cellpadding="3">

                        <!--<tr style="white-space:nowrap">-->
                            <!--<td class="cobhl" width="25%" align="right">Search Name:</td>-->
                            <!--<td class="cobll" width="25%"><input type="text" name="stext" size="20" value=""/></td>-->
                            <!--<td class="cobhl" width="25%" align="right">Price Range:</td>-->
                            <!--<td class="cobll" width="25%">-->
                                <!--<input type="text" name="sprice" size="10" value=""-->
                                       <!--title="Eg. 50-100 ... -50 ... 50-"/>-->
                                <!--<input type="text" name="sprice" size="10" value=""-->
                                       <!--title="Eg. 50-100 ... -50 ... 50-"/>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="cobhl" width="25%" align="right">Search Type:</td>-->
                            <!--<td class="cobll" width="25%"><select name="stype" size="1">-->
                                <!--<option value="">All words</option>-->
                                <!--<option value="any">Any word</option>-->
                                <!--<option value="exact">Exact Phrase</option>-->
                            <!--</select>-->
                            <!--</td>-->
                            <!--<td class="cobhl" width="25%" align="right">Category:</td>-->
                            <!--<td class="cobll" width="25%">-->

                                <!--<select name="scat" size="1">-->
                                    <!--<option value="mobile">All type</option>-->
                                    <!--<option value="mobile">Mobile</option>-->
                                    <!--<option value="tablet">Tablet</option>-->
                                    <!--<option value="laptop">Laptop</option>-->

                                <!--</select>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <tr>
                            <!--<td class="cobhl" align="center">-->
                                <!--<input type="button" value="Search" title="Search Item"/>-->
                            <!--</td>-->
                            <td class="cobll" colspan="3">
                                <table width="100%" cellspacing="0" cellpadding="0" border="">
                                    <tr>
                                        <td class="cobll" align="center" style="white-space:nowrap">
                                            <!--<select name="sort" size="1" onchange="changesortorder(this)">-->
                                                <!--<option value="ida">Sort - ID ASC</option>-->
                                                <!--<option value="idd">Sort - ID DESC</option>-->
                                                <!--<option value="" selected="selected">Sort - Name ASC</option>-->
                                                <!--<option value="nad">Sort - Name DESC</option>-->
                                                <!--<option value="pra">Sort - Price ASC</option>-->
                                                <!--<option value="prd">Sort - Price DESC</option>-->
                                                <!--<option value="daa">Sort - Date ASC</option>-->
                                                <!--<option value="dad">Sort - Date DESC</option>-->
                                                <!--<option value="poa">Sort - pOrder ASC</option>-->
                                                <!--<option value="pod">Sort - pOrder DESC</option>-->
                                                <!--<option value="sta">Sort - Stock ASC</option>-->
                                                <!--<option value="std">Sort - Stock DESC</option>-->
                                                <!--<option value="nsf">No Sort (Fastest)</option>-->
                                            <!--</select>-->
                                            <input ng-click="showListProduct()" type="button" value="List Products"/>

                                            <a ui-sref="newproduct"><input type="button" value="New Product"/></a>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <table width="100%" class="stackable admin-table-a sta-white" id="prodstable" ng-hide="isShowList">

                        <tr>
                            <th style="width:20%"><strong>Product ID</strong></th>
                            <th style="width:30%"><strong>Product Name</strong></th>
                            <th style="width:30%"><strong>Brand</strong></th>
                            <th style="width:10%" class="small">Modify</th>
                        </tr>
                        <tr ng-repeat="product in products track by $index">
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.brand}}</td>
                            <td>
                                <a ui-sref="modifyproduct({productID: '{{product.id}}'})"><input type="button" value="M" style="width:30px" title="Modify"></a>
                                <input ng-click="deleteProduct($index)" type="button" value="X" style="width:30px" title="Delete">
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>

</div>