<section id="content">
    <div id="category-header">
        <div class="row">
            <div class="col-2">
                <div class="category-image">
                    <img src="images/products/banner1" alt="Phone" class="img-responsive">
                </div><!-- End .category-image -->

            </div><!-- End .col-2 -->

            <div class="col-2">
                <div class="category-image">
                    <img src="images/products/5927668214BAN-htc-m9s.jpg" alt="Phone" class="img-responsive">
                </div><!-- End .category-image -->

            </div><!-- End .col-2 -->
        </div><!-- End .row -->
    </div><!-- End #category-header -->
    <div id="category-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li class="active capitalize">{{category}}</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-9 col-sm-8 col-xs-12 main-content">

                        <div class="category-toolbar clearfix">
                            <div class="toolbox-filter clearfix">

                                <div class="sort-box">
                                    <span class="separator">sắp xếp:</span>
                                    <div class="btn-group select-dropdown">
                                        <button type="button" class="btn select-btn">{{firstSelect}}</button>
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="" ng-click="sortByMoney()">{{secondSelect}}</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div><!-- End .toolbox-filter -->
                            <div class="toolbox-pagination clearfix">
                                <ul class="pagination">
                                    <li><a href="" ng-repeat="page in getNumber() track by $index | limitTo:5" ng-click="getStartIndex($index)">{{$index + 1}}</a></li>
                                </ul>

                            </div><!-- End .toolbox-pagination -->


                        </div><!-- End .category-toolbar -->
                        <div class="md-margin"></div><!-- .space -->
                        <div class="category-item-container">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="product in products | filter:filterFromRangeMoney | limitTo:9:startIndex">
                                    <div class="item">
                                        <div class="item-image-container">
                                            <figure>
                                                <a ui-sref="productdetail({productID: '{{product.name}}'})">
                                                    <img src={{product.images[0]}} alt="item1" class="item-image">
                                                    <img src={{product.images[1]}} alt="item1  Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="old-price">{{numberFormat(product.oldprice, '.')}}đ</span>
                                                <span class="item-price">{{numberFormat(product.newprice, '.')}}đ</span>
                                            </div>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result={{product.star}}></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h3>
                                            <div class="item-action">
                                                <a href="" ng-click="addToCompare(product)" class="item-add-btn">
                                                    <span class="icon-cart-text">So sánh</span>
                                                </a>
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->
                                </div><!-- End .col-md-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .category-item-container -->

                        <div class="pagination-container clearfix">
                            <div class="pull-right">
                                <ul class="pagination">
                                    <li><a href="" ng-repeat="page in getNumber() track by $index | limitTo:5" ng-click="getStartIndex($index)">{{$index + 1}}</a></li>
                                </ul>
                            </div><!-- End .pull-right -->
                        </div><!-- End pagination-container -->


                    </div><!-- End .col-md-9 -->

                    <aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
                        <div class="widget">
                            <div class="panel-group custom-accordion sm-accordion" id="category-filter">
                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title"><span>Thương hiệu</span></div><!-- End .accordion-title -->
                                        <a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-2"></a>
                                    </div><!-- End .accordion-header -->

                                    <div id="category-list-2" class="collapse in">
                                        <div class="panel-body">
                                            <ul class="category-filter-list jscrollpane">
                                                <li ng-repeat="manu in manufactures track by $index" class="capitalize"><a ui-sref="products({cateID: {{cateID}}, category: '{{category}}', manuID: {{manu.manuID}}, manufacture: '{{manu.manufacture}}'})">{{manu.manufacture}}</a></li>
                                            </ul>
                                        </div><!-- End .panel-body -->
                                    </div><!-- #collapse -->
                                </div><!-- End .panel -->

                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title"><span>Giá (Triệu)</span></div><!-- End .accordion-title -->
                                        <a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-3"></a>
                                    </div><!-- End .accordion-header -->

                                    <div id="category-list-3" class="collapse in">
                                        <div class="panel-body">
                                            <div id="price-range">

                                            </div><!-- End #price-range -->
                                            <div id="price-range-details">
                                                <span class="sm-separator">từ</span>
                                                <input type="number" min="0" id="price-range-low" class="separator">
                                                <span class="sm-separator">đến</span>
                                                <input type="number" min="0" id="price-range-high">
                                            </div>
                                            <div id="price-range-btns">
                                                <a href="" class="btn btn-custom-2 btn-sm" ng-click="setRangeMoney()">Ok</a>
                                                <a href="" class="btn btn-custom-2 btn-sm" ng-click="clearRange()">Clear</a>
                                            </div>

                                        </div><!-- End .panel-body -->
                                    </div><!-- #collapse -->
                                </div><!-- End .panel -->
                            </div><!-- .panel-group -->
                        </div><!-- End .widget -->

                        <div class="widget featured">
                            <h3>Sale</h3>

                            <div class="related-slider flexslider sidebarslider">
                                <ul class="related-list clearfix">
                                    <li>
                                        <div class="related-product clearfix" ng-repeat="product in saleProducts | limitTo:3:0">
                                            <figure>
                                                <img src={{product.thumnail[0]}} alt="item1">
                                            </figure>
                                            <h5><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h5>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result={{product.star}}></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="related-price">{{numberFormat(product.newprice, '.')}}đ</div><!-- End .related-price -->
                                        </div><!-- End .related-product -->
                                    </li>
                                    <li>
                                        <div class="related-product clearfix" ng-repeat="product in saleProducts | limitTo:3:3">
                                            <figure>
                                                <img src={{product.thumnail[0]}} alt="item1">
                                            </figure>
                                            <h5><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h5>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result={{product.star}}></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="related-price">{{numberFormat(product.newprice, '.')}}đ</div><!-- End .related-price -->
                                        </div><!-- End .related-product -->
                                    </li>
                                    <li>
                                        <div class="related-product clearfix" ng-repeat="product in saleProducts | limitTo:3:6">
                                            <figure>
                                                <img src={{product.thumnail[0]}} alt="item1">
                                            </figure>
                                            <h5><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h5>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result={{product.star}}></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="related-price">{{numberFormat(product.newprice, '.')}}đ</div><!-- End .related-price -->
                                        </div><!-- End .related-product -->
                                    </li>
                                </ul>
                            </div><!-- End .featured-slider -->
                        </div><!-- End .widget -->

                        <!--<div class="widget banner-slider-container">-->
                            <!--<div class="banner-slider flexslider">-->
                                <!--<ul class="banner-slider-list clearfix">-->
                                    <!--<li><a href="#"><img src="images/banner1.jpg" alt="Banner 1"></a></li>-->
                                    <!--<li><a href="#"><img src="images/banner2.jpg" alt="Banner 2"></a></li>-->
                                    <!--<li><a href="#"><img src="images/banner3.jpg" alt="Banner 3"></a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; End .widget &ndash;&gt;-->

                    </aside><!-- End .col-md-3 -->
                </div><!-- End .row -->


            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</section><!-- End #content -->