<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li class="active">Compare Products</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="title-bg">
                    <h1 class="title">So sánh sản phẩm</h1>
                </header>
                <div class="xs-margin"></div>
                <div class="row">

                    <div class="col-md-12 table-responsive">

                        <table class="table table-striped compare-item-table">
                            <tr>
                                <td class="table-title">Tên sản phẩm</td>
                                <td ng-repeat="product in products">
                                    <figure>
                                        <a ui-sref="productdetail({productID: product.name})"><img src={{product.images[0]}} alt="Lowlands Lace Blouse"></a>
                                    </figure>
                                    <p class="item-name"><a ui-sref="productdetail({productID: product.name})">{{product.name}}</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">Giá</td>
                                <td ng-repeat="product in products"><span class="item-price-special">{{numberFormat(product.oldprice, '.')}}đ</span></td>
                            </tr>
                            <tr class="item-brand-col">
                                <td class="table-title">Nhà sản xuất</td>
                                <td ng-repeat="product in products">{{product.brand}}</td>
                            </tr>
                            <tr>
                                <td class="table-title">AVAILABILITY</td>
                                <td ng-repeat="product in products">{{product.availability}}</td>
                            </tr>
                            <tr>
                                <td class="table-title">Đánh giá</td>
                                <td ng-repeat="product in products">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-result" data-result={{product.star}}></div>
                                        </div><!-- End .ratings -->
                                    </div><!-- End .rating-container -->
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">Tóm tắt</td>
                                <td ng-repeat="product in products">
                                    <li class="toTextLeft" ng-repeat="des in product.description">{{des}}</li>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-title">Cân nặng</td>
                                <td ng-repeat="product in products">{{product.weight}}</td>
                            </tr>
                            <tr>
                                <td class="table-title">Kích thước</td>
                                <td ng-repeat="product in products">{{product.dimension}}</td>
                            </tr>
                            <tr>
                                <td class="table-title"></td>
                                <td ng-repeat="product in products">
                                    <a ng-click="removeCompareProduct($index)" class="close-button"></a>
                                </td>
                            </tr>
                        </table>
                        <div class="xlg-margin"></div><!-- Space -->
                    </div><!-- End .col-md-12 -->

                </div><!-- End .row -->

            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</section><!-- End #content -->