<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li class="active">Liên lạc</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="content-title">
                    <h1 class="title">Liên lạc</h1>
                </header>
                <div class="xs-margin"></div><!-- space -->
                <div class="row">

                    <div class="col-md-12">
                        <div id="map">
                            <!-- Google - Map - Api -->
                        </div><!-- End #map -->
                    </div><!-- End .col-md-12 -->

                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h2 class="sub-title">Thông tin của bạn</h2>
                        <div class="row">
                            <form action="#" id="contact-form">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Tên&#42;</span></span>
                                        <input type="text" name="contact-name" id="contact-name" required class="form-control input-lg" placeholder="Họ và tên">
                                    </div><!-- End .input-group -->
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                                        <input type="email" name="contact-email" id="contact-email" required class="form-control input-lg" placeholder="Địa chỉ email">
                                    </div><!-- End .input-group -->
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Tiêu đề&#42;</span></span>
                                        <input type="text" name="contact-subject" id="contact-subject" required class="form-control input-lg" placeholder="Tiêu đề gửi">
                                    </div><!-- End .input-group -->
                                </div><!-- End .col-md-6 -->

                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="input-group textarea-container">
                                        <span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Nội dung</span></span>
                                        <textarea name="contact-message" id="contact-message" class="form-control" cols="30" rows="6" placeholder="Nội dung gửi"></textarea>
                                    </div><!-- End .input-group -->
                                    <input type="submit" value="Gửi" class="btn btn-custom-2 md-margin">
                                </div><!-- End .col-md-6 -->
                            </form>
                        </div><!-- End .row -->

                    </div><!-- End .col-md-8 -->

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <h2 class="sub-title">Thông tin liên hệ</h2>
                        <ul class="contact-details-list">
                            <li>
                                <span class="contact-icon contact-icon-phone"></span>
                                <ul>
                                    <li>083 597 8773</li>
                                    <li>083 195 9599</li>
                                </ul>
                            </li>
                            <li>
                                <span class="contact-icon contact-icon-mobile"></span>
                                <ul>
                                    <li>0927 14 18 14</li>
                                    <li>0166 81 50 365</li>
                                </ul>
                            </li>
                            <li>
                                <span class="contact-icon contact-icon-email"></span>
                                <ul>
                                    <li>ushop_support@gmail.com</li>
                                </ul>
                            </li>
                            <li>
                                <span class="contact-icon contact-icon-skype"></span>
                                <ul>
                                    <li>ushop_support</li>
                                    <li>ushop_store</li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->

            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</section><!-- End #content -->