<section id="content">

    <div id="slider-sequence" class="homeslider">
        <div class="sequence-prev"></div><!-- End sequence-prev-->
        <div class="sequence-next"></div><!-- End sequence-next-->
        <ul class="sequence-canvas">
            <li class="sequence-slide1">
                <div class="sequencebg">
                    <img src="images/homeslider/slide1.png" alt="Slide 1 image" class="sequencebg-image">
                </div><!-- End .sequencebg -->
                <div class="sequence-container container">
                    <img src="images/homeslider/Xperia%20X%20Performance%20Black%20Group.png" alt="Model 1" class="sequence-model">
                    <div class="sequence-title">SONY XPERIA X</div>
                    <div class="sequence-subtitle">Thế hệ mới, Trải nghiệm mới. Đã có hàng &amp; Trải nghiệm tại hệ thống uShop.</div>
                </div><!-- End .sequence-container -->
            </li>

            <li class="sequence-slide2">
                <div class="sequencebg">
                    <img src="images/homeslider/slide2.jpg" alt="Slide 2 image" class="sequencebg-image">
                </div><!-- End .sequencebg -->
                <div class="sequence-container container">
                    <img src="images/homeslider/slide2_2.png" alt="Model 2" class="sequence-model">
                    <img src="images/homeslider/slide2_1.png" alt="Model 1" class="sequence-model2">
                    <div class="sequence-title">Samsung Galaxy S7 Edge</div>
                    <div class="sequence-subtitle">Siêu phẩm đáng để mua nhất. Giảm giá ngay 1.9 triệu đồng.</div>

                </div><!-- End .sequence-container -->
            </li>

            <li class="sequence-slide3">
                <div class="sequencebg">
                    <img src="images/homeslider/slide3.jpg" alt="Slide 3 image" class="sequencebg-image">
                </div><!-- End .sequencebg -->
                <div class="sequence-container container">
                    <img src="images/homeslider/Samsung-Repair-Header-SameAsAdvert-021.png" alt="Model 3" class="sequence-model">

                    <div class="sequence-title">Smartphone. Tablet. Laptop.</div>
                    <div class="sequence-subtitle">SAMSUNG &amp; Chất lượng, Uy tín, Thời trang.</div>
                    <img src="images/homeslider/slide3_4.png" alt="Mobile phone" class="sequence-phone">
                    <img src="images/homeslider/slide3_2.png" alt="Tablet" class="sequence-tablet">
                    <img src="images/homeslider/b_OOK_9.png" alt="Screen" class="sequence-screen">
                </div><!-- End .sequence-container -->
            </li>
        </ul>

        <ul class="sequence-pagination">
            <li>Frame 1</li>
            <li>Frame 2</li>
            <li>Frame 3</li>
        </ul>
    </div><!-- End #slider-sequence -->


    <div class="md-margin2x"></div><!-- Space -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-9 col-sm-8 col-xs-12 main-content">
                        <header class="title-bg">
                            <h2 class="title">Sản phẩm</h2>
                        </header>
                        <div id="products-tabs-content" class="row tab-content">
                            <div class="tab-pane active" id="all">
                                <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="product in products | filter:filterByName | limitTo:9">
                                    <div class="item">
                                        <div class="item-image-container" >
                                            <figure>
                                                <a ui-sref="productdetail({productID: '{{product.name}}'})" ui-sref-active="active">
                                                    <img src={{product.images[0]}} alt="Phone 1" class="item-image">
                                                    <img src={{product.images[1]}} alt="Phone 1 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span ng-hide="checkOldPrice(product.oldprice)" class="old-price">{{numberFormat(product.oldprice, '.')}}đ</span>
                                                <span class="item-price">{{numberFormat(product.newprice, '.')}}đ</span>
                                            </div>
                                            <span class="new-rect">New</span>
                                            <span class="discount-rect" ng-show="checkSale(product)">-{{product.sale}}</span>
                                        </div><!-- End .item-image -->

                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result={{product.star}}></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h3>
                                            <div class="item-action">
                                                <a href="" ng-click="addToCompare(product)" class="item-add-btn">
                                                    <span class="icon-cart-text">So sánh</span>
                                                </a>
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->
                                </div><!-- End .col-md-4 -->
                            </div><!-- End .tab-pane -->
                        </div><!-- End #products-tabs-content -->

                        <div class="sm-margin"></div><!-- Space -->
                        <div class="xlg-margin"></div><!-- Space -->

                        <div class="hot-items carousel-wrapper">
                            <header class="content-title">
                                <div class="title-bg">
                                    <h2 class="title">Giảm giá</h2>
                                </div><!-- End .title-bg -->
                            </header>

                            <div class="carousel-controls">
                                <div id="hot-items-slider-prev" class="carousel-btn carousel-btn-prev">
                                </div><!-- End .carousel-prev -->
                                <div id="hot-items-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                                </div><!-- End .carousel-next -->
                            </div><!-- End .carousel-controls -->
                            <div class="hot-items-slider owl-carousel">
                                <div class="item" ng-repeat="product in saleProducts track by $index">

                                    <div class="item-image-container">
                                        <figure>
                                            <a ui-sref="productdetail({productID: '{{product.name}}'})">
                                                <img src={{product.images[0]}} alt="item3" class="item-image">
                                                <img src={{product.images[1]}} alt="item3 Hover" class="item-image-hover">
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="old-price">{{numberFormat(product.oldprice, '.')}}đ</span>
                                            <span class="item-price">{{numberFormat(product.newprice, '.')}}đ</span>
                                        </div>
                                        <span class="new-rect">New</span>
                                        <span class="discount-rect">-{{product.sale}}</span>
                                    </div><!-- End .item-image -->
                                    <div class="item-meta-container">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-result" data-result={{product.star}}></div>
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <h3 class="item-name"><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h3>
                                        <div class="item-action">
                                            <a href="" ng-click="addToCompare(product)"  class="item-add-btn">
                                                <span class="icon-cart-text">So sánh</span>
                                            </a>
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->
                            </div><!--hot-items-slider -->
                            <div class="lg-margin"></div><!-- Space -->
                        </div><!-- End .hot-items -->
                    </div><!-- End .col-md-9 -->

                    <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
                        <div class="widget banner">
                            <a href="#"><img class ="img-banner1" src="images/banner/x-banner-dung.jpg" alt="Banner Xperia X"></a>
                            <a href="#"><img class ="img-banner2" src="images/banner/s7_mainguyen.jpg" alt="Banner Samsung Galaxy S7"></a>
                            <a href="#"><img class ="img-banner3" src="images/banner/z5-premium-dung.jpg" alt="Banner Sony Xperia Z5"></a>
                        </div>

                        <div class="widget banner-slider-container">
                            <div class="banner-slider flexslider">
                                <ul class="banner-slider-list clearfix">
                                    <li><a href=""><img src="images/banner/cam-ket-banner-duoi.jpg" alt="Banner 1"></a></li>
                                    <li><a href=""><img src="images/banner/iphone-ipad-cu-gia-re-banner-duoi.jpg" alt="Banner 2"></a></li>
                                    <li><a href=""><img src="images/banner/tuyen-dung-205x260.jpg" alt="Banner 3"></a></li>
                                </ul>
                            </div>
                        </div><!-- End .widget -->

                    </div><!-- End .col-md-3 -->
                </div><!-- End .row -->

                <div id="brand-slider-container" class="carousel-wrapper">
                    <header class="content-title">
                        <div class="title-bg">
                            <h2 class="title">Nhà sản xuất</h2>
                        </div><!-- End .title-bg -->
                    </header>
                    <div class="carousel-controls">
                        <div id="brand-slider-prev" class="carousel-btn carousel-btn-prev">
                        </div><!-- End .carousel-prev -->
                        <div id="brand-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                        </div><!-- End .carousel-next -->
                    </div><!-- End .carousel-controllers -->
                    <div class="sm-margin"></div><!-- space -->
                    <div class="brand-slider owl-carousel">
                        <a href="#"><img src="images/brands/apple-logo.jpg" alt="Apple Logo"></a>
                        <a href="#"><img src="images/brands/Samsung-logo.jpg" alt="Samsung Logo"></a>
                        <a href="#"><img src="images/brands/htc-logo.png" alt="HTC Logo"></a>
                        <a href="#"><img src="images/brands/logo-sony.jpg" alt="Sony Logo"></a>
                        <a href="#"><img src="images/brands/asus-logo.jpg" alt="Asus Logo"></a>
                        <a href="#"><img src="images/brands/Lenovo-logo.jpg" alt="Lenovo Logo"></a>
                        <a href="#"><img src="images/brands/oppo-logo.png" alt="Oppo Logo"></a>
                        <a href="#"><img src="images/brands/dell-logo.png" alt="Dell Logo"></a>
                        <a href="#"><img src="images/brands/hp-logo.jpg" alt="Hp Logo"></a>
                    </div><!-- End .brand-slider -->
                </div><!-- End #brand-slider-container -->

            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</section><!-- End #content -->