<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li class="active">Product</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">

                        <div id="product-image-carousel-container">
                            <ul id="product-carousel" class="celastislide-list">
                                <li class="active-slide"><a data-rel='prettyPhoto' href={{product.images[0]}}><img src={{product.images[0]}} alt="Phone photo 1"></a></li>
                                <li ng-repeat="image in product.images | limitTo : 4 : 1"><a data-rel='prettyPhoto' href={{image}}><img src={{image}} alt="Phone photo"></a></li>

                            </ul><!-- End product-carousel -->
                        </div>

                        <div id="product-image-container">
                            <figure><img src={{product.images[0]}} alt="Product Big image" id="product-image" data-big={{product.images[0]}}>
                                <div class="item-price-container">
                                    <span class="old-price fontSize-old-price">{{numberFormat(product.oldprice, '.')}}đ</span>
                                    <span class="item-price fontSize-new-price">{{numberFormat(product.newprice, '.')}}đ</span>
                                </div>
                            </figure>
                        </div><!-- product-image-container -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6 col-sm-12 col-xs-12 product">
                        <div class="lg-margin visible-sm visible-xs"></div><!-- Space -->
                        <h1 class="product-name">{{product.name}}</h1>
                        <div class="ratings-container">
                            <div class="ratings separator">
                                <div class="ratings-result" data-result={{product.star}}></div>
                            </div><!-- End .ratings -->
                        </div><!-- End .rating-container -->
                        <ul class="product-list upper">
                            <li><span>Availability:</span>{{product.availability}}</li>
                            <li><span>Brand:</span>hung</li>
                        </ul>
                        <hr>
                        <div class="product-color-filter-container">
                            <span>Select Color:</span>
                            <div class="xs-margin"></div>
                            <ul class="filter-color-list clearfix">
                                <li ng-repeat="color in product.colors track by $index"><a data-bgcolor={{color}} class="filter-color-box"></a></li>
                            </ul>
                        </div><!-- End .product-color-filter-container-->
                        <div class="product-size-filter-container">
                            <span>Select Size:</span>
                            <div class="xs-margin"></div>
                            <ul class="filter-size-list clearfix">
                                <li ng-repeat="size in product.sizes track by $index"><a>{{size}}</a></li>
                            </ul>
                        </div><!-- End .product-size-filter-container-->
                        <hr>
                    </div><!-- End .col-md-6 -->


                </div><!-- End .row -->

                <div class="lg-margin2x"></div><!-- End .space -->

                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">

                        <div class="tab-container left product-detail-tab clearfix">
                            <ul class="nav-tabs">
                                <li class="active"><a ng-click="getOverview()" data-toggle="tab">Overview</a></li>
                                <li><a ng-click="getDescription()" data-toggle="tab">Description</a></li>
                            </ul>
                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="overview">
                                    <li ng-repeat="content in tabContent track by $index">{{content}}</li>
                                </div><!-- End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .tab-container -->
                        <div class="lg-margin visible-xs"></div>
                    </div><!-- End .col-md-9 -->
                    <div class="lg-margin2x visible-sm visible-xs"></div><!-- Space -->
                    <div class="col-md-3 col-sm-12 col-xs-12 sidebar">
                        <div class="widget related">
                            <h3>Sale</h3>

                            <div class="related-slider flexslider sidebarslider">
                                <ul class="related-list clearfix">
                                    <li>
                                        <div class="related-product clearfix" ng-repeat="product in saleProducts | limitTo:3:0">
                                            <figure>
                                                <img src={{product.thumnail[0]}} alt="item1">
                                            </figure>
                                            <h5><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h5>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result={{product.star}}></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="related-price">{{numberFormat(product.newprice, '.')}}đ</div><!-- End .related-price -->
                                        </div><!-- End .related-product -->
                                    </li>
                                    <li>
                                        <div class="related-product clearfix" ng-repeat="product in saleProducts | limitTo:3:3">
                                            <figure>
                                                <img src={{product.thumnail[0]}} alt="item1">
                                            </figure>
                                            <h5><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h5>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result={{product.star}}></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="related-price">{{numberFormat(product.newprice, '.')}}đ</div><!-- End .related-price -->
                                        </div><!-- End .related-product -->
                                    </li>
                                    <li>
                                        <div class="related-product clearfix" ng-repeat="product in saleProducts | limitTo:3:6">
                                            <figure>
                                                <img src={{product.thumnail[0]}} alt="item1">
                                            </figure>
                                            <h5><a ui-sref="productdetail({productID: '{{product.name}}'})">{{product.name}}</a></h5>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result={{product.star}}></div>
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <div class="related-price">{{numberFormat(product.newprice, '.')}}đ</div><!-- End .related-price -->
                                        </div><!-- End .related-product -->
                                    </li>
                                </ul>
                            </div><!-- End .related-slider -->
                        </div><!-- End .widget -->

                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
                <div class="lg-margin2x"></div><!-- Space -->
                <div class="purchased-items-container carousel-wrapper">
                    <header class="content-title">
                        <div class="title-bg">
                            <h2 class="title">Sản phẩm khác</h2>
                        </div><!-- End .title-bg -->
                    </header>

                    <div class="carousel-controls">
                        <div id="purchased-items-slider-prev" class="carousel-btn carousel-btn-prev"></div><!-- End .carousel-prev -->
                        <div id="purchased-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
                    </div><!-- End .carousel-controllers -->
                    <div class="purchased-items-slider owl-carousel">
                        <div class="item" ng-repeat="product in products track by $index">

                            <div class="item-image-container">
                                <figure>
                                    <a ui-sref="productdetail({productID: '{{product.name}}'})">
                                        <img src={{product.images[0]}} alt="item3" class="item-image">
                                        <img src={{product.images[1]}} alt="item3 Hover" class="item-image-hover">
                                    </a>
                                </figure>
                                <div class="item-price-container">
                                    <span class="old-price">{{numberFormat(product.oldprice, '.')}}đ</span>
                                    <span class="item-price">{{numberFormat(product.newprice, '.')}}đ</span>
                                </div>
                            </div><!-- End .item-image -->
                            <div class="item-meta-container">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-result" data-result={{product.star}}></div>
                                    </div><!-- End .ratings -->
                                </div><!-- End .rating-container -->
                                <h3 class="item-name"><a >{{product.name}}</a></h3>
                                <div class="item-action">
                                    <a href="" ng-click="addToCompare(product)" class="item-add-btn">
                                        <span class="icon-cart-text">So sánh</span>
                                    </a>
                                </div><!-- End .item-action -->
                            </div><!-- End .item-meta-container -->
                        </div><!-- End .item -->

                    </div><!--purchased-items-slider -->
                </div><!-- End .purchased-items-container -->

            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</section><!-- End #content -->
